@import "../node_modules/bootstrap/scss/bootstrap";
@font-face {
    font-family: "Intro";
    src: url("fonts/intro/Intro.otf") format("opentype");
}
@font-face {
    font-family: "IntroRust";
    src: url("fonts/intro-rust-g/IntroRustG-Base2Line.otf") format("opentype");
}
@font-face {
    font-family: "PlayFair";
    src: url("fonts/playfair-display/PlayfairDisplay-Regular.otf") format("opentype");
}

$link-color: #f7f7f7;
$orange: #ffb547;
$white: #f7f7f7;
$small-devices-upper-limit: 575.98px;
$phone-devices-lower-limit: 576px;
$phone-devices-upper-limit: 767.98px;
$tablet-devices-lower-limit: 768px;
$tablet-devices-upper-limit: 991.98px;
$desktop-devices-lower-limit: 992px;
$desktop-devices-upper-limit: 1199.98px;
$large-desktop-devices-lower-limit: 1200px;


$break-small: 320px;
$break-large: 1200px;


// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    font-family: "IntroRust";
    font-size: 14px;
    border-bottom: 1px;
}
.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: #eab96a;
    font-family: "IntroRust";
    font-size: 14px;
    border-bottom: 1px;
}
.menu  {
    margin-top: 40px;
    width: 80%;
    height: 43px;
    float: right;
    font-family: "IntroRust";
    font-size: 14px;
    border-bottom: 1px;
    border-bottom-color: #f7f7f7; 
}
body{
    

}

.banner-header{
    @media (max-width: $small-devices-upper-limit) {background-image: url("img/banner.png"); width: 100%; }
    @media (min-width: $phone-devices-lower-limit) and (max-width: $phone-devices-upper-limit) {background-image: url("img/banner.png"); width: 100%;}
    @media (min-width: $tablet-devices-lower-limit) and (max-width: $tablet-devices-upper-limit) {background-image: url("img/banner.png"); width: 100%;}
    @media (min-width: $desktop-devices-lower-limit) and (max-width: $desktop-devices-upper-limit) {
        background-image: url("img/banner.png");
        position: absolute;
        left: -6px;
        top: -7px;
        z-index: 110;
        width: 100%;
        height: 425px;
        padding:0px;
        margin:0px;
        border:none;
     }
    @media (min-width: $large-desktop-devices-lower-limit) {
        background-image: url("img/banner.png");
        position: absolute;
        left: -6px;
        top: -7px;
        z-index: 110;
        width: 100%;
        height: 425px;
        padding:0px;
        margin:0px;
        border:none;
    }

}
.logo {
    border-image: none;
    @media (max-width: $small-devices-upper-limit) { 
        width: 20%;
        height: 86px;
    }
    @media (min-width: $phone-devices-lower-limit) and (max-width: $phone-devices-upper-limit) {
        width: 20%;
        height: 86px;
     }
    @media (min-width: $tablet-devices-lower-limit) and (max-width: $tablet-devices-upper-limit) {  
        width: 20%;
        height: 86px;
    }
    @media (min-width: $desktop-devices-lower-limit) and (max-width: $desktop-devices-upper-limit) { 
        width: 20%;
        height: 86px;
    }
    @media (min-width: $large-desktop-devices-lower-limit) {
        width: 20%;
        height: 86px;
    }

    @media (min-width: $desktop-devices-lower-limit) and (max-width: $desktop-devices-upper-limit) { 
        left: 22px;
        top: 7px;
        width: 20%;
        height: 86px;
        float: left;
        z-index: 140;
        margin-top: 20px;
        margin-left: 30px;
        }
    @media (min-width: $large-desktop-devices-lower-limit) {
        left: 22px;
        top: 7px;
        width: 20%;
        height: 86px;
        float: left;
        z-index: 140;
        margin-left: 20px;
        margin-top: 30px;
    }
}

.text-header-one{
    font-family: "IntroRust";
    font-size: 10px;
    color: rgb(255, 255, 255);
    @media (max-width: $small-devices-upper-limit) {  }
    @media (min-width: $phone-devices-lower-limit) and (max-width: $phone-devices-upper-limit) { }
    @media (min-width: $tablet-devices-lower-limit) and (max-width: $tablet-devices-upper-limit) { }
    @media (min-width: $desktop-devices-lower-limit) and (max-width: $desktop-devices-upper-limit) { 
        line-height: 2.857;
        text-align: center;
        z-index: 118; 
    }
    @media (min-width: $large-desktop-devices-lower-limit) {            
        line-height: 2.857;
        text-align: center;
        z-index: 118;     
    }
}

.text-header-two{
    font-family: "IntroRust";
    font-size: 33px;
    @media (max-width: $small-devices-upper-limit) {  }
    @media (min-width: $phone-devices-lower-limit) and (max-width: $phone-devices-upper-limit) { }
    @media (min-width: $tablet-devices-lower-limit) and (max-width: $tablet-devices-upper-limit) { }
    @media (min-width: $desktop-devices-lower-limit) and (max-width: $desktop-devices-upper-limit) { }
    @media (min-width: $large-desktop-devices-lower-limit) {}
}
.text-header-three{
    font-family: "PlayFair";
    font-size: 12px;
    @media (max-width: $small-devices-upper-limit) {  }
    @media (min-width: $phone-devices-lower-limit) and (max-width: $phone-devices-upper-limit) { }
    @media (min-width: $tablet-devices-lower-limit) and (max-width: $tablet-devices-upper-limit) { }
    @media (min-width: $desktop-devices-lower-limit) and (max-width: $desktop-devices-upper-limit) { }
    @media (min-width: $large-desktop-devices-lower-limit) {}
}
      

